{% extends ajax|yesno:"base_ajax.html,base.html" %}
	
	{% block title %}{% ifequal ajax False %}Stockfile Field{% endifequal %}{% endblock %}
	{% block navigator %}{% if ajax %}{% else %}<a href="{% url stockpile.inventory.views.index %}">Home</a> &gt <a href='{% url stockpile.inventory.views.category_view item.category.id %}'>{{ item.category.name }}</a> &gt {{ item.get_code }} &gt {% endif %}{% endblock %}
	
	{% block main_content %}
		
		<form method="POST" action="">
			<fieldset>
				<table class="ui-widget ui-widget-content">
				
				{% for field in form %}
				{% if field.is_hidden %}
				{{ field }}
				{% else %}
					<tr><td class='title'>{{ field.label_tag }}</td><td>{{ field }}</td></tr>
				{% endif %}
				{% endfor %}
				
				{% ifnotequal ajax True %}
					<tr><td colspan='2'><input type="submit" value="Submit" /></td></tr>
				{% endifnotequal %}
				
				</table>
			</fieldset>
		</form>

	{% endblock main_content %}
	

