{% extends "base.html" %}
		
		{% block title %}Stockpile Home{% endblock %}
		
		{% block page_javascript %}
		{% include "inventory/index.js" %}
		{% endblock page_javascript %}
		
		{% block navigator %}Welcome to Stockpile{% endblock %}
		
		{% block main_content %}
			
				<div class="ui-widget">
					{% if categories %}
					<table id="categories" class="data-table">
						<thead>
							<tr class="ui-widget-header">
								<th width='80%'>Category</th>
								<th width='20%'>Count</th>
								{% if category_admin %}
								<th> </th>
								{% endif %}
							</tr>
						</thead>
				
						<tbody>
					
							{% for len, cat in categories %}
							<tr class="ui-widget-content">
								<td><h3><a href="{% url stockpile.inventory.views.category cat.id %}">{{ cat.name }}</h3></td>
								<td><h4>{{ len }}</h4></td>
								{% if category_admin %}
								<td>
						
								<a href="{% url stockpile.inventory.views.category_edit cat.id %}" id="configure_link" title="Configure Category" cat_id="{{ cat.id}}" class="ui-state-default ui-corner-all button category_config open-in-dialog"><span class="ui-icon ui-icon-wrench"></span></a>
								<a href="{% url stockpile.inventory.views.category_delete cat.id %}" id="delete_link" title="Delete Category" class="ui-state-default ui-corner-all button open-in-dialog"><span class="ui-icon ui-icon-trash"></span></a>
								</td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% else %}
					<div class="ui-widget">
						<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
							<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
							<strong>Welcome to Stockpile!</strong><br /><br />Stockpile is ready to do, all you need to do is create some categories to store your data in.<br />Click on the button "New Category" below.</p>
						</div>
					</div>
					<br /><br />
					{% endif %}
				</div>
				
				
				<a href="{% url stockpile.inventory.views.category_edit 0 %}" id="new_category" title="New Category" class="ui-state-default ui-corner-all button_text open-in-dialog"><span class="ui-icon ui-icon-newwin"></span>New Category</a>
	
	
		{% endblock main_content %}
		
	
		{% block hidden_divs %}
		<div id="category_dialog" class="dialog" title="Edit Category">
		</div>
		{% endblock hidden_divs %}
		
