{% extends ajax|yesno:"base_ajax.html,base.html" %}
	
	{% block navigator %}{% if ajax %}{% else %}<a href="/">Home</a> > <a href='/category:{{ item.category.id }}'>{{ item.category.name }}</a> > {{ item.get_code }}{% endif %}{% endblock %}
	
	{% block page_javascript %}
	{% if ajax %}
	
	<script type="text/javascript">
	$(function(){
		// bind 'myForm' and provide a simple callback function 
		$('#item-form').ajaxForm(function() { 
			alert("Thank you for your comment!"); 
		}); 
	
	});
	</script>
	{% endif %}
	{% endblock %}
	
	{% block main_content %}
	
	<form id="item-form" method="POST" action="{% url stockpile.inventory.views.item item.id %}">
		<fieldset>
			<table>
				<thead>
					<tr class="ui-widget-header">
						<td>Category</td>
						<td>{{ item.category.name }}</td>
						<td></td>
					</tr>
					<tr class="ui-widget-header">
						<td>Code</td>
						<td>{{ item.get_code }}</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					{% for field in form %}
					<tr class="ui-widget-content">
						<td>{{ field.label_tag }}</td><td>{{ field }}</td>
						{% if field.field.is_choice %}
						<td><a href="{% url stockpile.inventory.views.choice_new field.field.current_field.id %}" id="edit_field_{{ field.id }}" title="Edit Field" item_id="{{ field.id }}" class="ui-state-default ui-corner-all button open-in-dialog"><span class="ui-icon ui-icon-plus"></span></a></a></td>
						{% else %}
						<td></td>
						{% endif %}
					</tr>
					{% endfor %}
					
					{% if ajax %}{% else %}
					<tr class="ui-widget-content">
						<td colspan="3"><input type="submit" value="Submit" /></td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</fieldset>

	</form>
	
	
	{% endblock main_content %}
	
	{% block hidden_divs %}
	{% if ajax %}{% else %}
	<div id="field_dialog" class="dialog">
	</div>
	{% endif %}
	{% endblock hidden_divs %}

	
	
